@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: #f02b2f !important;
}

.swiper-button-prev, .swiper-button-next{
  color: #f02b2f !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom bullet size */
.swiper-pagination.swiper-pagination-bullets {
  /* Example of custom bullet size */
  width: 15px;
  height: 15px;

}

/* Custom bullet styles */
.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  /* Example of custom bullet size */
  width: 15px;
  height: 15px;
  /* Example of custom bullet color */
  background-color: red;
}

.backgroundGradient{
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(247, 30, 30) 100.3%);
}